pipeline/STG_Company.json
{
	"name": "STG_Company",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT distinct CompanyId from STG.MdSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "NB_DEV_DW_SGA_Datasets",
						"type": "DatasetReference",
						"parameters": {
							"Schema": "STG",
							"TableName": "MdSource"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "STG_SourceTableName",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"CompanyId": {
										"value": "@item().CompanyId",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "DEV_SGA"
		},
		"annotations": [],
		"lastPublishTime": "2023-04-14T13:27:03Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}